body{
    /* !important para que sea este backgroud el que lea, por ejemplo y no el del html */
    background-color: antiquewhite !important;
    border: 1px solid black;
}
p{
    color: black;
}
.varios{
    color: brown;
}
#unico{
    color: blue;
}
#familia{
    font-family: "Sofia";
}
#texto{
    font-family: "Alkatra";
    font-size: 30px;
    color: violet;
}
.subrayado{
    text-decoration: underline;
}
.encimatexto{
    text-decoration: overline;
}
.tachado{
    text-decoration: line-through;
}
.varios-decorados{
    text-decoration: underline overline dashed pink;
}
.enlace{
    text-decoration: none;
    color: black;
}
.minusculas{
    text-transform: lowercase;
}
.mayusculas{
    text-transform: uppercase;
}
.capitalizacion{
    text-transform: capitalize;
}
img{
    width: 700px;
    height: 300px;
    object-fit: fill;
    object-fit: contain;
    object-fit: scale-down;
    object-fit: cover;
    object-fit: none;
}
.estilo{
    filter: blur(5px);
    filter: brightness(150%);
    filter: contrast(25%);
    filter: grayscale(50%);
    filter: hue-rotate(240deg);
    filter: saturate(150%);
    filter: invert(100%);
    filter:opacity(50%);
    filter: sepia(50%);
}
.espaciado{
    text-indent: 50px;
    word-spacing: 10px;
    letter-spacing: 0.5px;
    line-height: 2.0;
    text-align: justify;
}
/* Modelo caja */
#padre{
    background-color: lightcyan;
    width: 700px;
}
#hijo{
    background-color: lightcoral;
    width: 100%;
    max-width: 300px;
    /* relleno */
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    /* aplica a todos */
    padding: 30px;
    /* (arriba abajo)(izquierda derecha) */
    padding: 20px 40px;
    /* arriba derecha abajo izquiera */
    padding: 10px 30px 15px 40px;
    /* solo izq der */
    padding-inline: 10px;
    /* solo arriba abajo */
    padding-block: 30px;
    /* borde */
    border-color: blanchedalmond;
    border-style: double;
    border-width: 10px;
    /* tamaño estilo color */
    border: 5px dashed lightpink;
    border-radius: 10px 50px 30px 5px;
    border-block-color: red;
    border-inline-color: blue;
    border-inline-end-style: dotted;
    border-inline-start-style: solid;
    /* margen */
    margin-inline: 100px;
}

.hijosdirectos>li{
    background-color: rgba(251, 255, 0, 0.418);
    color: blueviolet;
}
.hijosdirectos>li>b{
    font-weight: 500;
    color: black;
}
.hijosdescendientes b{
    color: blue
}
.hermanos-siguientes~li{
    background-color: red;
}
.hermano-abajo+li{
    background-color: red;
}

/* Atributos */
/* Permiten agregar estilos teniendo en cuenta los atributos de una etiqueta*/
.selectores-atributos a[href] {
    color: #ff8c09;
    /* text decoration le quita el estilo a los enlaces */
    text-decoration: none;
}

.selectores-atributos a[target="_blank"] {
    font-weight: bold;
}

/* El comodin * busca todos los atributos que contengan la palabra a la que esta igualdado  */
.selectores-atributos a[href*="w3schools"] {
    font-size: 24px;
}

/* El comodin ^ busca los atributos que comiencen con la palabra a la que se le esta igualando */
.selectores-atributos a[href^="#"] {
    background-color: lightpink;
    color: purple;
}

/* El comodin $ busca todos los atributos que terminen con lo que esta igualado */
.selectores-atributos a[href$=".com/"] {
    background-color: rgb(93, 96, 99);
}

/* El comodin ~  aplica el estilo si contiene la palabra si esta en una lista de palabras separadas por espacios */
.selectores-atributos a[class~="cursos"] {
    background-color: #093aff;
}

/* El comodin | busca las palabras que esten igualdas y que despues del texto pueda venir un guion medio y esta entre una lista de palabras separadas por espacio */
.selectores-atributos a[class|="menu"] {
    /* Estilo de la letra */
    font-style: italic;
}

/* El selector universal le aplica los estilos a todos los elementos HTML que se tienen dentro del documento*/

* {
    /* Font-family cambia la tipografia */
    font-family: sans-serif;
}

/* A todos los elementos dentro de la clase les aplica el estilo */

.selector-universal * {
    font-size: 24px;
    color: darkorchid;
}
/* -----------------------AGRUPACION DE SELECTORES----------------------- */
/* Agrupar selectores, se hace con la coma */
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
    border-color: darkolivegreen;
    border-width: 5px;
    border-style: dashed;
    background-color: lightgreen;
    font-size: 20px;
    /* Pone la etiqueta de tipo bloque es decir que ocupe todo el espacio */
    display: block;
    width: 300px;
}